<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sam's Pastries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="donut.css"/>
    <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
    
</head>
<body>
<h1 class="content-heading">About Us</h1>
<hr>
    <div class="content-navbar">
        <a class="link-nav" href = "<%= url('/')%>">HOME</a>
        <a class="link-nav" href="<%= url('/muffins')%>">MUFFINS</a>
        <a class="link-nav" href="<%= url('/cupcakes')%>">CUPCAKES</a>
        <a class="link-nav" href="<%= url('/cakes')%>">CAKES</a>
    </div>

<div id="abtimg-div">
    <div id="abt-img">
        <img src="https://images.pexels.com/photos/9095/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    </div>
</div>
<div id="abt-div">
<p>Put simply, we love all things with flour and sugar!</p>

<p></p>
<p></p>

<p></p>

<p></p>

<p></p>

</div>



</body>
</html>