body{
  font-family: 'Overpass Mono', monospace;
  margin: 0;
}
.content-heading{
  text-align: center;
  font-size: 4em;
  margin-top: 5%;
  margin-bottom: 3%;
  
}
img{
  width:200px;
  height:200px;
}

.pastries{
  display:flex;
  flex-wrap:wrap;
  margin: 6%;
  margin-top: 0;
 
}

.pastries h2{
  font-size: 18px;
}
.inner-container{
  display:flex;
  flex-direction: column;
  width:25%;
  flex-grow:1;
  align-items: center;
  padding: 3%;
}

.content-description{
  text-align: center;
  font-size: 14px;
  width: 80%;
}


pre{
  display:none;
}

hr{
  width:80%;
}

.content-navbar{
  text-align: center;
  padding-bottom: 5%;
}

.content-navbar a{
  text-decoration: none;
  font-family: 'Cuprum',sans-serif;
  font-size: 14px;
  color:black;
}

.link-nav{
text-decoration: none;
padding: 0 3% 0 3%;
color: black;
}

#abt-div{
  width: 60%;
  margin: 0 auto;
  text-align: justify;
}

#abt-img{
  width:600px;
  height:397px;
  margin: 0 auto;
  margin-bottom: 5%;
}

#abt-img img{
  width:100%;
  height:100%;
}